<div id="full_page">
  <div class="header">
    <a href="#/inventories/categories" class="back"><span class="glyphicon glyphicon-chevron-left"></span></a>

    <div class="title" ng-show="!updating">Nova categoria de inventário</div>
    <div class="title" ng-show="updating">{{ category.title }}</div>

    <div ng-show="showSystemMessage" class="message-status fade-animation" ng-class="systemMessage.messageClass">
      <p><span class="glyphicon glyphicon-{{ systemMessage.icon }}"></span> {{ systemMessage.text }}</p>
    </div>

    <a href="" ng-click="send()" class="submit_button"><span ng-show="!updating">Cadastrar</span><span ng-show="updating">Atualizar</span></a>
  </div>

  <div class="spacing"></div>

  <div class="tabs">
    <a href="" class="active">Campos</a>
    <a href="">Estados</a>
    <a href="">Fórmulas</a>
    <a href="">Configurações</a>
  </div>

  <div class="loading" ng-show="loading"></div>

  <div class="big_content" class="pages-animation" ng-hide="loading">
    <div class="left_column">

      <div class="section" ng-repeat="section in category.sections">
        <div class="top_part">
          <div class="name">{{ section.title }} <span ng-show="section.required == true">*</span></div>

          <div class="actions">
            <a href=""><span class="glyphicon glyphicon-lock"></span></a>
            <a href=""><span class="glyphicon glyphicon-trash"></span></a>
            <a href=""><span class="glyphicon glyphicon-move"></span></a>
          </div>

          <div class="clearfix"></div>
        </div>

        <div class="middle">
          <!-- text field -->
          <div droppable-inputs-area class="droppableInputsArea">
            <div class="input" ng-repeat="field in section.fields | orderBy:'position'" id="input_{{ field.id }}" ng-hide="field.destroy">
              <div class="type">
                <label for="generic_input_{{ field.id }}" class="input_name" ng-hide="editingLabel" ng-click="editingLabel = true">
                  <span ng-show="field.label !== null">{{ field.label }}</span>
                  <span ng-show="field.label == null">{{ field.title }}</span>
                  <span ng-show="field.required == true"> *</span>
                </label>

                <div class="edit_label" ng-show="editingLabel">
                  <input type="text" ng-model="field.label" />
                  <a href="" ng-click="editingLabel = false">Salvar</a>

                  <div class="clearfix"></div>
                </div>

                <div class="clearfix"></div>

                <input class="form-control" id="generic_input_{{ field.id }}" type="text" ng-show="field.kind == 'text'" disabled="disabled">
                <input class="form-control integer" id="generic_input_{{ field.id }}" type="text" ng-show="field.kind == 'integer'" disabled="disabled">

                <div ng-show="kindHasMultipleOptions(field.kind) === true" class="multipleValues">
                  <label ng-repeat="value in field.available_values">
                    <input type="checkbox"> {{ value }} <a href="" remove-input-value><span class="glyphicon glyphicon-remove"></span></a>
                  </label>

                  <a href="" class="newItem">+ Novo item</a>
                </div>
              </div>

              <div class="actions">
                <div class="option move">
                  <a href="" class="handle icon"><span class="glyphicon glyphicon-move"></span></a>
                </div>

                <div class="option trash">
                  <div class="popover bottom" ng-show="showFieldConfirmRemovePopover">
                    <div class="arrow"></div>
                    <h3 class="popover-title">Remover campo {{ field.label }}</h3>

                    <div class="popover-content">
                      <div class="row">
                        <div class="col-xs-6"><a href="" ng-click="showFieldConfirmRemovePopover = false" class="btn btn-default btn-block">Cancelar</a></div>
                        <div class="col-xs-6"><a href="" ng-click="field.destroy = true" class="btn btn-danger btn-block">Remover</a></div>
                      </div>
                    </div>
                  </div>

                  <a href="" ng-click="showFieldConfirmRemovePopover = true" class="icon"><span class="glyphicon glyphicon-trash"></span></a>
                </div>

                <div class="option permissions">
                  <div class="popover bottom" ng-show="showFieldPermissionsPopover">
                    <div class="arrow"></div>
                    <h3 class="popover-title">Permissões do campo {{ field.label }}</h3>

                    <div class="popover-content">
                      <div class="form-group">
                        <label>Grupos que podem visualizar:</label>

                        <select class="multiple-select" ui-select2 ng-model="field.inventory_fields_can_view" data-placeholder="Digite um grupo" multiple>
                          <option ng-repeat="group in groups" value="{{ group.id }}">{{ group.name }}</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label>Grupos que podem editar:</label>

                        <select class="multiple-select" ui-select2 ng-model="field.inventory_fields_can_edit" data-placeholder="Digite um grupo" multiple>
                          <option ng-repeat="group in groups" value="{{ group.id }}">{{ group.name }}</option>
                        </select>
                      </div>

                      <a href="" ng-click="showFieldPermissionsPopover = false" class="btn btn-info btn-fat-custom btn-custom pull-right">Pronto</a>

                      <div class="clearfix"></div>
                    </div>
                  </div>

                  <a href="" ng-click="showFieldPermissionsPopover = true" class="icon"><span class="glyphicon glyphicon-lock"></span></a>
                </div>

                <div class="option edit">
                  <div class="popover bottom" ng-show="showFieldOptionsPopover">
                    <div class="arrow"></div>
                    <h3 class="popover-title">Opções do campo {{ field.label }}</h3>

                    <div class="popover-content">
                      <div class="form-group">
                        <label>Preenchimento requerido?</label>

                        <br />

                        <label class="radio-inline">
                          <input type="radio" ng-model="field.required" ng-value="true"> Sim
                        </label>

                        <label class="radio-inline">
                          <input type="radio" ng-model="field.required" ng-value="false"> Não
                        </label>
                      </div>

                      <a href="" ng-click="showFieldOptionsPopover = false" class="btn btn-info btn-fat-custom btn-custom pull-right">Pronto</a>

                      <div class="clearfix"></div>
                    </div>
                  </div>

                  <a href="" ng-click="showFieldOptionsPopover = true" class="icon"><span class="glyphicon glyphicon-edit"></span></a>
                </div>
              </div>

              <div class="clearfix"></div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="right_column">
      <a class="btn btn-info btn-custom btn-block btn-lg-custom">+ Adicionar nova seção</a>

      <div class="inputs">
        <div class="info"><p>Arraste os campos que você deseja adicionar</p></div>

        <div class="clearfix"></div>

        <div class="simple_search">
          <span class="glyphicon glyphicon-search search_icon"></span>
          <input type="text" placeholder="Buscar..." ng-model="searchInputs" />
        </div>

        <div class="list">
          <div class="item" ng-repeat="input in availableInputs | filter: searchInputs" name="{{ input.kind }}" draggable-input><p>{{ input.name }}</p></div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
  </div>
</div>
