<div id="full_page">
  <div class="header">
    <a href="#/inventories/categories" class="back">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>

    <div class="title" ng-show="!updating">
      Título da etapa <span class="glyphicon glyphicon-edit"></span>
    </div>

    <div class="updated-msg">
      <span class="glyphicon glyphicon-check"></span> Todas as alterações foram salvas.
    </div>
  </div>

  <div class="spacing"></div>

  <div class="tabs step-tab">
    <a href="#/flows/forms/edit" class="active">Formulário</a>
    <a href="#/flows/permissions/edit">Permissões</a>
    <a href="#/flows/triggers/edit">Gatilhos</a>
  </div>

  <div class="loading" ng-show="loading"></div>

  <div class="big_content" class="pages-animation" style="padding-bottom: 200px;">
    <div class="left_column">
      <form action="" class="step-form">
        <div class="form-group clearfix">
          <div class="form-inputs">
            <label for="">Data</label>
            <input type="text" class="form-control date-field" placeholder="xx/xx/xxxx" width="200px;">
          </div>

          <div class="actions">
            <a href=""><span class="glyphicon glyphicon-edit"></span></a>
            <a href="" class="remove-form"><span class="glyphicon glyphicon-trash"></span></a>
            <a href=""><span class="glyphicon glyphicon-resize-vertical"></span></a>
          </div>
        </div>
        <div class="form-group clearfix">
          <div class="form-inputs">
            <label for="">Serviços requisitados</label>
            <ul>
              <li>
                <input type="checkbox" class="input-choice" id="-default" checked="checked" />
                <label for="-default" class="label-choice">
                  <span>Opção 1</span>
                </label>
                <a href="#">x</a>
              </li>
              <li>
                <input type="checkbox" class="input-choice" id="-default" checked="checked" />
                <label for="-default" class="label-choice">
                  <span>Opção 2</span>
                </label>
                <a href="#">x</a>
              </li>
              <li>
                <input type="checkbox" class="input-choice" id="-default" checked="checked" />
                <label for="-default" class="label-choice">
                  <span>Opção 3</span>
                </label>
                <a href="#">x</a>
              </li>
              <li>
                <a href="#">+ Nova opção</a>
              </li>
            </ul>
          </div>

          <div class="actions">
            <a href=""><span class="glyphicon glyphicon-edit"></span></a>
            <a href="" class="remove-form"><span class="glyphicon glyphicon-trash"></span></a>
            <a href=""><span class="glyphicon glyphicon-resize-vertical"></span></a>
          </div>
        </div>
        <div class="form-group clearfix">
          <div class="form-inputs">
            <label for="">Anexar documentos</label>
            <div class="inline">
              <div class="form-control attachments">
                <span class=""></span>
                <input type="text">
              </div>
              <a href="#" class="btn btn-util btn-version">Procurar</a>
            </div>
          </div>

          <div class="actions">
            <a href=""><span class="glyphicon glyphicon-edit"></span></a>
            <a href="" class="remove-form"><span class="glyphicon glyphicon-trash"></span></a>
            <a href=""><span class="glyphicon glyphicon-resize-vertical"></span></a>
          </div>
        </div>
        <div class="form-group clearfix">
          <div class="form-inputs">
            <label style="display: block;">Descrição do problema</label>
            <textarea class="form-control" rows="6"></textarea>
          </div>

          <div class="actions">
            <a href=""><span class="glyphicon glyphicon-edit"></span></a>
            <a href="" class="remove-form"><span class="glyphicon glyphicon-trash"></span></a>
            <a href=""><span class="glyphicon glyphicon-resize-vertical"></span></a>
          </div>
        </div>
        <div class="form-group clearfix">
          <div class="form-inputs">
            <label for="">Relato</label>
            <div class="inline">
              <input type="text" class="form-control" placeholder="Selecione um ou mais relatos">
              <a href="#" class="btn btn-util btn-version">Procurar</a>
            </div>
          </div>

          <div class="actions">
            <a href=""><span class="glyphicon glyphicon-edit"></span></a>
            <a href="" class="remove-form"><span class="glyphicon glyphicon-trash"></span></a>
            <a href=""><span class="glyphicon glyphicon-resize-vertical"></span></a>
          </div>
        </div>
        <div class="form-group clearfix">
          <div class="form-inputs">
            <label for="">Itens de inventário</label>
            <div class="inline">
              <input type="text" class="form-control" placeholder="Selecione um ou mais itens de inventário">
              <a href="#" class="btn btn-util btn-version">Procurar</a>
            </div>
          </div>

          <div class="actions">
            <a href=""><span class="glyphicon glyphicon-edit"></span></a>
            <a href="" class="remove-form"><span class="glyphicon glyphicon-trash"></span></a>
            <a href=""><span class="glyphicon glyphicon-resize-vertical"></span></a>
          </div>
        </div>
        <div class="form-group clearfix">
          <div class="form-inputs">
            <label for="">Campo de etapa anterior</label>
            <input type="text" class="form-control" placeholder="Valor preenchido no campo">
            <span class="form-msg">* Somente leitura</span>
          </div>

          <div class="actions">
            <a href=""><span class="glyphicon glyphicon-edit"></span></a>
            <a href="" class="remove-form"><span class="glyphicon glyphicon-trash"></span></a>
            <a href=""><span class="glyphicon glyphicon-resize-vertical"></span></a>
          </div>
        </div>
        <div class="form-group clearfix form-group-last">
          <div class="form-inputs">
            <label for="">Comprimento do bueiro</label>
            <input type="text" class="form-control" placeholder="Valor preenchido no campo">
            <span class="form-msg">* Possui relação com o campo "Bueiro a ser removido"</span>
          </div>

          <div class="actions">
            <a href=""><span class="glyphicon glyphicon-edit"></span></a>
            <a href="" class="remove-form"><span class="glyphicon glyphicon-trash"></span></a>
            <a href=""><span class="glyphicon glyphicon-resize-vertical"></span></a>
          </div>
        </div>
      </form>
    </div>

    <div class="right_column" inputs-sidebar>
      <a class="btn btn-info btn-custom btn-block btn-lg-custom">+ Adicionar nova seção</a>

      <div class="inputs step-sidebar">
        <div class="info"><p>Campos básicos</p></div>

        <div class="clearfix"></div>

        <div class="simple_search">
          <span class="glyphicon glyphicon-search search_icon"></span>
          <input type="text" placeholder="Buscar..." ng-model="searchInputs" />
        </div>

        <div class="list">
          <div class="item" draggable-input>
            <p>Campo de texto</p>
          </div>
          <div class="item" draggable-input>
            <p>Campo numérico</p>
          </div>
          <div class="item" draggable-input>
            <p>Anexo</p>
          </div>
          <div class="item" draggable-input>
            <p>Opção múltipla</p>
          </div>
          <div class="item" draggable-input>
            <p>Opção única</p>
          </div>
          <div class="item" draggable-input>
            <p>E-mail</p>
          </div>
          <div class="item" draggable-input>
            <p>CPF</p>
          </div>
          <div class="item" draggable-input>
            <p>CNPJ</p>
          </div>
          <div class="item" draggable-input>
            <p>Campo de data</p>
          </div>
          <div class="item" draggable-input>
            <p>Campo de descrição</p>
          </div>
        </div>
      </div>

      <div class="inputs step-sidebar-bottom">
        <div class="info">
          <p>Campos especiais</p>
        </div>

        <div class="clearfix"></div>

        <div class="list">
          <div class="item" draggable-input>
            <p>Relato</p>
          </div>
          <div class="item" draggable-input>
            <p>Item de Inventário</p>
          </div>
          <div class="item" draggable-input>
            <p>Etapa Anterior</p>
          </div>
          <div class="item" draggable-input>
            <p>Campo de Categoria</p>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
  </div>
</div>
