<div id="full_page">
  <div class="header">
    <a href="#/inventories/categories" class="back">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>

    <div class="title" ng-show="!updating">
      Título da etapa <span class="glyphicon glyphicon-edit"></span>
    </div>

    <div class="updated-msg">
      <span class="glyphicon glyphicon-check"></span> Todas as alterações foram salvas.
    </div>
  </div>

  <div class="spacing"></div>

  <div class="tabs step-tab">
    <a href="#/flows/forms/edit">Formulário</a>
    <a href="#/flows/permissions/edit">Permissões</a>
    <a href="#/flows/triggers/edit" class="active">Gatilhos</a>
  </div>

  <div class="loading" ng-show="loading"></div>

  <div ng-hide="loading" class="pages-animation trigger-full">
    <div class="trigger-header clearfix">
      <p>4 gatilhos criados</p>
      <a href="#/inventories/categories/add" class="btn btn-info btn-custom">+ Novo gatilho</a>
    </div>

    <ul>
      <li>
        <div class="triggers">
          <div class="content-trigger">
            <p class="name">Título do gatilho</p>

            <div class="actions">
              <a href="">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
              <a href="" class="middle-link">
                <span class="glyphicon glyphicon-resize-vertical"></span>
              </a>
              <a href="" class="right-link">
                <span class="arrow_icon"></span>
              </a>
            </div>

            <div class="clearfix"></div>
          </div>
        </div>
      </li>
      <li>
        <div class="triggers">
          <div class="content-trigger">
            <p class="name">Título do gatilho</p>

            <div class="actions">
              <a href="">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
              <a href="" class="middle-link">
                <span class="glyphicon glyphicon-resize-vertical"></span>
              </a>
              <a href="" class="right-link">
                <span class="arrow_icon"></span>
              </a>
            </div>

            <div class="clearfix"></div>
          </div>
        </div>
      </li>
      <li>
        <div class="triggers">
          <div class="content-trigger">
            <p class="name">Título do gatilho</p>

            <div class="actions">
              <a href="">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
              <a href="" class="middle-link">
                <span class="glyphicon glyphicon-resize-vertical"></span>
              </a>
              <a href="" class="right-link">
                <span class="arrow_icon"></span>
              </a>
            </div>

            <div class="clearfix"></div>
          </div>
        </div>
      </li>
      <li>
        <div class="triggers active">
          <div class="content-trigger">
            <p class="name">Título do gatilho</p>

            <div class="actions">
              <a href="">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
              <a href="" class="middle-link">
                <span class="glyphicon glyphicon-resize-vertical"></span>
              </a>
              <a href="" class="right-link">
                <span class="arrow_icon"></span>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>

          <table class="trigger-table">
            <thead>
              <tr>
                <td width="35%">Campo</td>
                <td width="25%">Condição</td>
                <td width="35%">Campo</td>
                <td width="5%"></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <select class="form-control">
                    <option>Distância máxima até a central</option>
                  </select>
                </td>
                <td>
                  <select class="form-control">
                    <option>Maior</option>
                  </select>
                </td>
                <td>
                  <select class="form-control">
                    <option>3500</option>
                  </select>
                </td>
                <td class="remove-condition">
                  <button type="button" class="remove" ng-click="remove_status = true">x</button>
                </td>
              </tr>
              <tr>
                <td>
                  <select class="form-control">
                    <option>Inclinação</option>
                  </select>
                </td>
                <td>
                  <select class="form-control">
                    <option>Menor</option>
                  </select>
                </td>
                <td>
                  <select class="form-control">
                    <option>45</option>
                  </select>
                </td>
                <td class="remove-condition">
                  <button type="button" class="remove" ng-click="remove_status = true">x</button>
                </td>
              </tr>
              <tr>
                <td colspan="4" class="new-condition class="remove-condition"">
                  <a href="#/inventories/categories/add" class="btn btn-info btn-custom">+ Nova condição</a>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="trigger-conditions">
            <h3>Caso as condições sejam verdadeiras</h3>
            <form action="">
              <div class="form-group clearfix" style="width: 60%;">
                <div style="float: left; width: 49%; margin-right: 2%;">
                  <label for="">Selecione uma ação</label>
                  <select class="form-control">
                    <option>Finalizar caso</option>
                  </select>
                </div>
                <div style="float: left; width: 49%;">
                  <label for="">Alterar estado de resolução para</label>
                  <select class="form-control">
                    <option>Impossibilidade técnica</option>
                  </select>
                </div>
              </div>
              <div class="form-group" style="width: 60%;">
                <label for="">Descrição</label>
                <textarea class="form-control" rows="4" placeholder="Caso finalizado devido a impossibilidade técnica"></textarea>
              </div>
            </form>
          </div>
        </div>
      </li>
      <li>
        <div class="triggers">
          <div class="content-trigger">
            <p class="name">Título do gatilho</p>

            <div class="actions">
              <a href="">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
              <a href="" class="middle-link">
                <span class="glyphicon glyphicon-resize-vertical"></span>
              </a>
              <a href="" class="right-link">
                <span class="arrow_icon"></span>
              </a>
            </div>

            <div class="clearfix"></div>
          </div>
        </div>
      </li>
      <li>
        <div class="triggers">
          <div class="content-trigger">
            <p class="name">Título do gatilho</p>

            <div class="actions">
              <a href="">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
              <a href="" class="middle-link">
                <span class="glyphicon glyphicon-resize-vertical"></span>
              </a>
              <a href="" class="right-link">
                <span class="arrow_icon"></span>
              </a>
            </div>

            <div class="clearfix"></div>
          </div>
        </div>
      </li>
    </ul>
  </div>

</div>
