#login {
  .login-container {
    width: 400px;
    padding: 60px;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 75px;
    background-color: #333333;

    // shadow effect
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:  0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.2);
  }

  .logo {
    img {
      float: left;
    }

    p {
      float: left;
      color: #797979;
      line-height: 18px;
      margin-left: 20px;
      margin-top: 5px;
    }
  }

  hr {
    border: 0px;
    border-top: 1px solid #494949;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  form {
    label {
      color: #FFF;
    }

    input.form-control {
      height: 45px;
      box-shadow: none;
      border: 0px;
    }

    button {
      padding: 10px 12px;
      background-color: #259ECB;
      border: 0px;
      margin-top: 20px;
      font-weight: normal;
    }
  }

  a.forgot_password {
    display: block;
    color: #797979;
    text-align: center;
    margin: 50px 0 50px 0;
  }

  .loginError {
    color: #FFF;
    margin-top: 50px;
  }
}
