.multiple-select-list {
  width: 100%;
  min-width: 250px;
  background: #FFF;
  border-radius: 6px;

  .dropdown-toggle {
    width: 100%;
    text-align: left;
    padding: 12px 18px;
    box-shadow: none;

    span.excerpt {
      width: 80%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &.open {
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.1);
  }

  .dropdown-toggle {
    box-shadow: none;

    &:active {
      background: #FFF;
      box-shadow: none;
    }

    &.active {
      border-radius: 4px 4px 0 0;
      background: #FFF;
      border: 1px solid #CDCDCD;
      border-bottom: 0;
    }
  }

  .dropdown {
    width: 100%;
    margin-top: 10px;
    border: 1px solid #CDCDCD;
    border-top: 0;
    border-radius: 0 0 6px 6px;
    position: absolute;
    z-index: 8;
    background: #FFF;
    top: 35px;

    .search-bar {
      margin: 10px;

      input {
        border: 1px solid #CCCCCC;
        border-right: none;
        box-shadow: none;
        font-size: 14px;
      }

      .input-group-addon {
        background: #FFF;
        border-color: #CCCCCC;
        color: #B3B3B3;
      }
    }

    ul {
      list-style: none;
      height: 200px;
      overflow: auto;
      padding: 0;

      li ul {
        height: auto;
        padding-left: 10px;

        a {
          font-weight: normal;
        }
      }

      li a {
        color: #000;
        font-size: 14px;
        padding: 9px 20px;
        display: inline-block;
        text-decoration: none;
        width: 100%;

        .ui-select-highlight {
          font-weight: bold;
          color: #999;
          width: auto;
          float: none;
        }

        .glyphicon {
          display: none;
          color: #57B1E5;
          font-size: 17px;
        }
      }

      li a span {
        display: inline-block;
        float: left;
        width: 90%;
      }

      li.active > a > .glyphicon {
        display: block;
      }

      li > li > a.active > .glyphicon {
        display: block;
      }
    }

    .footer {
      border-top: 1px solid #E6E6E6;
      padding: 15px 20px;

      a {
        color: #7F7F7F;
        line-height: 43px;
        font-size: 13px;
      }
    }

    .btn-custom {
      padding: 12px 29px;
    }
  }
}
