.theme {

  %logo {
    display: inline-block;
    vertical-align: middle;
  }

  #login .logo {
    width: 280px;
    height: 37px;
    margin-bottom: 60px;
    background-image: url('../images/logo-dark.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    .img {
      @extend %logo;
    }

    .slogan-title::before {
      content: "Zeladoria Urbana Participativa";
    }
  }

  #main_layout {
    #sidebar {
      .logo {
        display: block;
        width: 300px;
        padding-top: 20px;
        padding-bottom: 20px;

        .img {
          @extend %logo;
          width: 300px;
          height: 37px;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('../images/logo-light.png');
        }
      }
    }
  }

  #printContent {
    .logo > .img {
      @extend %logo;
      width: 300px;
      height: 37px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('../images/logo-dark.png');
    }
  }

  .initial-loading-page {
    .logo > .img {
      @extend %logo;
      width: 300px;
      height: 37px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('../images/logo-light.png');
    }
  }
}
