<div id="full_page">
  <div class="header">
    <a href="#/inventories/categories" class="back">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>

    <div class="title" ng-show="!updating">
      Novo caso de {{ flow.title }}
    </div>

    <div class="updated-msg case">
      <span class="header-msg">Estado do caso</span>
      <span class="status-msg">Em andamento</span>
    </div>
  </div>

  <div class="spacing"></div>

  <div class="tabs case">
    <a href="#" class="active">Etapas</a>
    <a href="#" class="tab-last">Histórico</a>
  </div>

  <div class="loading" ng-show="loading"></div>

  <div ng-hide="loading" class="pages-animation edit-triggers clearfix">
    <div class="case-content aside">
      <div class="case-header">
        <h2>
          <a href="#" class="case-header-active clearfix">
            <span class="case-header-text">Etapa fluxo</span>
            <span class="case-header-icon"></span>
          </a>
        </h2>
      </div>

     <div class="content-select-tree" style="display: none;">
       <ul class="select-tree">
         <li>
           <a href="#" class="default-link">Etapa nível 1</a>
           <ul>
             <li>
               <a href="#" class="default-link">Etapa nível 2</a>
             </li>
             <li>
               <a href="#" class="default-link">Etapa nível 2</a>
               <ul>
                 <li>
                   <a href="#" class="default-link">Etapa nível 3</a>
                 </li>
                 <li>
                   <a href="#" class="default-link">Etapa nível 3</a>
                 </li>
                 <li>
                   <a href="#" class="active-link">Etapa fluxo</a>
                 </li>
                 <li>
                   <a href="#">Etapa nível 3</a>
                 </li>
               </ul>
             </li>
             <li>
               <a href="#">Etapa nível 2</a>
             </li>
           </ul>
         </li>
         <li>
           <a href="#">Etapa nível 1</a>
           <ul>
             <li>
               <a href="#">Etapa nível 2</a>
             </li>
             <li>
               <a href="#">Etapa nível 2</a>
             </li>
           </ul>
         </li>
         <li>
           <a href="#">Etapa nível 1</a>
         </li>
       </ul>
     </div>

      <ul class="aside-tree">
        <li ng-repeat="step in case.previous_steps">
          <a href="" class="tree-link">
            <span class="tree-icon icon-form" ng-class="{'icon-flow': step.my_step.step_type == 'flow'}"></span>
            <span class="tree-text">{{ step.my_step.title }}</span>
          </a>
        </li>

        <li>
          <a href="" class="tree-link active-link">
            <span class="tree-icon icon-form" ng-class="{'icon-flow': step.my_step.step_type == 'flow'}"></span>
            <span class="tree-text">{{ case.current_step.my_step.title }}</span>
          </a>
        </li>

        <li ng-repeat="step in case.next_steps">
          <a href="" class="tree-link other-link">
            <span class="tree-icon icon-form" ng-class="{'icon-flow': step.step_type == 'flow'}"></span>
            <span class="tree-text">{{ step.title }}</span>
          </a>
        </li>
      </ul>

      <ul class="case-aside-bottom-list">
        <li><a href=""><span class="glyphicon glyphicon-ok"></span>Finalizar caso</a></li>
        <li><a href="" class="error"><span class="glyphicon glyphicon-trash"></span>Excluir caso</a></li>
      </ul>
    </div>

    <div class="case-content principal">
      <div class="case-header edit-case clearfix">
        <h2>Etapa {{ case.current_step.my_step.title }}</h2>
        <p>Condutor: <span>Thiago Miqueias</span> <a ng-click="changeConductor()">(Alterar)</a></p>
      </div>

      <form action="#">
        <fieldset>

          <div class="form-group" ng-repeat="field in case.current_step.my_step.fields | orderBy:'order_number'">
            <label>{{ field.title }} <span ng-show="field.requirements.presence == true"> *</span></label>
            <input type="text" class="form-control date-field" placeholder="selecione">
          </div>


          <div class="form-group last-group clearfix">
            <a class="btn btn-info btn-custom" ng-click="selectConductor()">
              <span class="glyphicon glyphicon-ok"></span> Concluir etapa
            </a>
          </div>
        </fieldset>
      </form>
    </div>

    <div class="clearfix"></div>
  </div>
</div>
