<div id="full_page">
  <div class="header">
    <a href="#/inventories/categories" class="back">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>

    <div class="title" ng-show="!updating">
      Nome de um caso
    </div>

    <div class="updated-msg case">
      <span class="header-msg">Estado do caso</span>
      <span class="status-msg">Em andamento</span>
    </div>
  </div>

  <div class="spacing"></div>

  <div class="tabs case">
    <a href="#/cases/show">Etapas</a>
    <a href="#/cases/history" class="active tab-last">Histórico</a>
  </div>

  <div class="loading" ng-show="loading"></div>

  <div ng-hide="loading" class="pages-animation edit-triggers clearfix">
    <ul class="history-list">
      <li class="history-list-item">
        <h3>30 de março de 2014</h3>
        <ul class="history-sub-list">
          <li>
            <span class="item-separator"></span><span class="item-time">14h e 30min</span> Thiago Miqueias executou a Etapa 3
          </li>
          <li>
            <span class="item-separator"></span><span class="item-time">14h e 30min</span> Thiago Miqueias executou a Etapa 2
          </li>
          <li>
            <span class="item-separator"></span><span class="item-time">14h e 30min</span> Thiago Miqueias executou a Etapa 1
          </li>
        </ul>
      </li>
      <li class="history-list-item">
        <h3>24 de março de 2014</h3>
        <ul class="history-sub-list">
          <li>
            <span class="item-separator"></span><span class="item-time">14h e 30min</span> Nathan executou a Etapa 1
          </li>
        </ul>
      </li>
      <li class="history-list-item">
        <h3>21 de março de 2014</h3>
        <ul class="history-sub-list">
          <li>
            <span class="item-separator"></span><span class="item-time">14h e 30min</span> Thiago Miqueias criou o caso.
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
