<div id="main_layout">
  <div id="sidebar" hack-sidebar-height>
    <!-- Include views/layouts/menu.html -->
    <div ng-include="'views/layout/menu.html'"></div>
  </div>

  <div id="main_content">
    <!-- Include views/layouts/header.html -->
    <div ng-include="'views/layout/header.html'"></div>

    <div class="loading" ng-show="loading"></div>
    <div class="loading" ng-show="loadingContent"></div>

    <div ng-hide="loading" class="pages-animation">
      <div class="title">
        <div class="links">
          <a href="#/cases" class="active">
            <span class="glyphicon glyphicon-pencil"></span> <p>Casos em andamento</p>
          </a>
          <a href="#/cases/new">
            <span class="glyphicon glyphicon-file"></span> <p>Iniciar novo caso</p>
          </a>
          <a href="#/cases/finished">
            <span class="glyphicon glyphicon-ok"></span> <p>Casos concluídos</p>
          </a>
        </div>
      </div>

      <div class="simple_search" ng-hide="advancedSearch">
        <div class="col-xs-9 search_column1">
          <span class="glyphicon glyphicon-search search_icon"></span>
          <input type="text" placeholder="Buscar" keyboard-poster="search" style="width: 80%;" />
        </div>
      </div>

      <div class="simple_filters" ng-hide="advancedSearch">
        <div class="col-xs-6">
          <div class="form-group">
            <label>Fluxos</label>
            <select name="" id="" class="form-control select-trigger">
              <option value="">Selecione um fluxo</option>
            </select>
          </div>
        </div>

        <div class="col-xs-6">
          <div class="form-group">
            <label>Nas etapas</label>
            <select name="" id="" class="form-control select-trigger">
              <option value="">Selecione uma etapa</option>
            </select>
          </div>
        </div>

        <div class="clearfix"></div>
      </div>

      <table class="table custom_table reports" infinite-scroll="getData(true)" infinite-scroll-distance="3" ng-class="{'advanced-filters-margin': advancedSearch == true}" style-results-table>
        <thead>
          <tr>
            <td ng-click="changeSorting('')"
                ng-class="selectedCls('')" width="50%" class="sort-table">
              <span>Nome</span><span class="arrow"></span>
            </td>
            <td ng-click="changeSorting('')"
                ng-class="selectedCls('')" class="sort-table">
              <span>Iniciado em</span><span class="arrow"></span>
            </td>
            <td ng-click="changeSorting('')"
                ng-class="selectedCls('')" class="sort-table">
              <span>Condutor</span><span class="arrow"></span>
            </td>
            <td ng-click="changeSorting('')"
                ng-class="selectedCls('')" class="sort-table">
              <span>Etapa atual</span><span class="arrow"></span>
            </td>
            <td></td>
          </tr>
        </thead>

        <tr>
          <td><a href="#/cases/show">Nome de um caso</a></td>
          <td>12/10/2014</td>
          <td><a href="">Thiago Miqueias</a></td>
          <td>1 de 5</td>
          <td class="actions">
            <a class="icon_action" href="" ng-click=""><span class="glyphicon glyphicon-trash"></span></a>
          </td>
        </tr>

        <tr>
          <td><a href="">Nome de um caso</a></td>
          <td>12/10/2014</td>
          <td><a href="">Thiago Miqueias</a></td>
          <td>1 de 5</td>
          <td class="actions">
            <a class="icon_action" href="" ng-click=""><span class="glyphicon glyphicon-trash"></span></a>
          </td>
        </tr>

        <tr>
          <td><a href="">Nome de um caso</a></td>
          <td>12/10/2014</td>
          <td><a href="">Thiago Miqueias</a></td>
          <td>1 de 5</td>
          <td class="actions">
            <a class="icon_action" href="" ng-click=""><span class="glyphicon glyphicon-trash"></span></a>
          </td>
        </tr>

        <tr>
          <td><a href="">Nome de um caso</a></td>
          <td>12/10/2014</td>
          <td><a href="">Thiago Miqueias</a></td>
          <td>1 de 5</td>
          <td class="actions">
            <a class="icon_action" href="" ng-click=""><span class="glyphicon glyphicon-trash"></span></a>
          </td>
        </tr>

        <tr>
          <td><a href="">Nome de um caso</a></td>
          <td>12/10/2014</td>
          <td><a href="">Thiago Miqueias</a></td>
          <td>1 de 5</td>
          <td class="actions">
            <a class="icon_action" href="" ng-click=""><span class="glyphicon glyphicon-trash"></span></a>
          </td>
        </tr>

        <tr>
          <td><a href="">Nome de um caso</a></td>
          <td>12/10/2014</td>
          <td><a href="">Thiago Miqueias</a></td>
          <td>1 de 5</td>
          <td class="actions">
            <a class="icon_action" href="" ng-click=""><span class="glyphicon glyphicon-trash"></span></a>
          </td>
        </tr>

        <tr>
          <td><a href="">Nome de um caso</a></td>
          <td>12/10/2014</td>
          <td><a href="">Thiago Miqueias</a></td>
          <td>1 de 5</td>
          <td class="actions">
            <a class="icon_action" href="" ng-click=""><span class="glyphicon glyphicon-trash"></span></a>
          </td>
        </tr>

      </table>

      <div class="loadingScrolling" ng-show="loadingPagination && !loadingContent"></div>
    </div>

  </div>
</div>
