<div id="full_page">
  <div class="header">
    <a href="#/inventories/categories" class="back">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>

    <div class="title" ng-show="!updating">
      Nome de um caso
    </div>

    <div class="updated-msg case">
      <span class="header-msg">Estado do caso</span>
      <span class="status-msg">Em andamento</span>
    </div>
  </div>

  <div class="spacing"></div>

  <div class="tabs case">
    <a href="#/cases/show" class="active">Etapas</a>
    <a href="#/cases/history" class="tab-last">Histórico</a>
  </div>

  <div class="loading" ng-show="loading"></div>

  <div ng-hide="loading" class="pages-animation edit-triggers clearfix">
    <div class="case-content aside">
      <div class="case-header">
        <h2>
          <a href="#" class="clearfix">
            <span class="case-header-text">Etapa fluxo</span>
            <span class="case-header-icon"></span>
          </a>
        </h2>
      </div>

     <div class="content-select-tree" style="display: none;">
       <ul class="select-tree">
         <li>
           <a href="#" class="default-link">Etapa nível 1</a>
           <ul>
             <li>
               <a href="#" class="default-link">Etapa nível 2</a>
             </li>
             <li>
               <a href="#" class="default-link">Etapa nível 2</a>
               <ul>
                 <li>
                   <a href="#" class="default-link">Etapa nível 3</a>
                 </li>
                 <li>
                   <a href="#" class="default-link">Etapa nível 3</a>
                 </li>
                 <li>
                   <a href="#" class="active-link">Etapa fluxo</a>
                 </li>
                 <li>
                   <a href="#">Etapa nível 3</a>
                 </li>
               </ul>
             </li>
             <li>
               <a href="#">Etapa nível 2</a>
             </li>
           </ul>
         </li>
         <li>
           <a href="#">Etapa nível 1</a>
           <ul>
             <li>
               <a href="#">Etapa nível 2</a>
             </li>
             <li>
               <a href="#">Etapa nível 2</a>
             </li>
           </ul>
         </li>
         <li>
           <a href="#">Etapa nível 1</a>
         </li>
       </ul>
     </div>

      <ul class="aside-tree">
        <li>
          <a href="#" class="tree-link">
            <span class="tree-icon icon-form"></span>
            <span class="tree-text">Etapa formulário</span>
          </a>
        </li>
        <li>
          <a href="#" class="tree-link">
            <span class="tree-icon icon-form"></span>
            <span class="tree-text">Etapa formulário</span>
          </a>
        </li>
        <li>
          <a href="#" class="tree-link">
            <span class="tree-icon icon-flow"></span>
            <span class="tree-text">Etapa fluxo</span>
          </a>
        </li>
        <li>
          <a href="#" class="tree-link">
            <span class="tree-icon icon-form"></span>
            <span class="tree-text">Etapa formulário</span>
          </a>
        </li>
        <li>
          <a href="#" class="tree-link active-link">
            <span class="tree-icon icon-form"></span>
            <span class="tree-text">Etapa formulário</span>
          </a>
        </li>
        <li>
          <a href="#" class="tree-link other-link">
            <span class="tree-icon icon-form"></span>
            <span class="tree-text">Etapa formulário</span>
          </a>
        </li>
        <li>
          <a href="#" class="tree-link other-link">
            <span class="tree-icon icon-flow"></span>
            <span class="tree-text">Etapa fluxo</span>
          </a>
        </li>
        <li>
          <a href="#" class="tree-link other-link">
            <span class="tree-icon icon-flow"></span>
            <span class="tree-text">Etapa fluxo</span>
          </a>
        </li>
        <li>
          <a href="#" class="tree-link other-link">
            <span class="tree-icon icon-flow"></span>
            <span class="tree-text">Etapa fluxo</span>
          </a>
        </li>
        <li>
          <a href="#" class="tree-link other-link">
            <span class="tree-icon icon-form"></span>
            <span class="tree-text">Etapa formulário</span>
          </a>
        </li>
        <li>
          <a href="#" class="tree-link other-link">
            <span class="tree-icon icon-form"></span>
            <span class="tree-text">Etapa formulário</span>
          </a>
        </li>
        <li>
          <a href="#" class="tree-link other-link">
            <span class="tree-icon icon-form"></span>
            <span class="tree-text">Etapa formulário</span>
          </a>
        </li>
      </ul>

      <ul class="case-aside-bottom-list">
        <li><a href=""><span class="glyphicon glyphicon-ok"></span>Finalizar caso</a></li>
        <li><a href="" class="error"><span class="glyphicon glyphicon-trash"></span>Excluir caso</a></li>
      </ul>
    </div>

    <div class="case-content principal">
      <div class="case-header">
        <h2>Etapa formulário</h2>
      </div>
      <div class="case-sub-header clearfix">
        <p>Esta etapa já foi preenchida</p>
        <a href="#/cases/edit" class="case-link">Editar</a>
      </div>
      <div class="case-default">
        <p class="case-title">Data</p>
        <p>12/05/2014</p>
      </div>
      <div class="case-default">
        <p class="case-title">Serviços requisitados</p>
        <ul>
          <li>Opção 1</li>
          <li>Opção 2</li>
        </ul>
      </div>
      <div class="case-default">
        <p class="case-title">Anexar documentos (com arquivos)</p>
        <ul class="case-list">
          <li>
            <div>
              <p>Contrato.pdf</p>
            </div>
          </li>
          <li>
            <div>
              <p>Contrato.pdf</p>
            </div>
          </li>
          <li>
            <div>
              <p>Contrato.pdf</p>
            </div>
          </li>
          <li>
            <div>
              <p>Contrato.pdf</p>
            </div>
          </li>
          <li>
            <div>
              <p>Contrato.pdf</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="case-default">
        <p class="case-title">Descrição do problema</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, quas, alias! Neque, necessitatibus, alias voluptatem dolorem pariatur provident soluta quia saepe vero reprehenderit explicabo fuga! Ipsam voluptatibus explicabo voluptatum accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
      </div>
      <div class="case-default">
        <p class="case-title">Relatos</p>
        <ul>
          <li><a href="#">Relato 1</a></li>
          <li><a href="#">Relato 2</a></li>
        </ul>
      </div>
      <div class="case-default">
        <p class="case-title">Item de inventário</p>
        <ul>
          <li><a href="#">Item de inventário</a></li>
        </ul>
      </div>
      <div class="case-default">
        <p class="case-title">Campo de etapa anterior</p>
        <p>Valor preenchido no campo</p>
        <p class="case-msg">* Somente leitura</p>
      </div>
      <div class="case-default">
        <p class="case-title">Comprimento do bueiro</p>
        <p>Valor preenchido no campo</p>
        <p class="case-msg">* Possui relação com o campo "Bueiro a ser removido"</p>
      </div>
      <div class="case-sub-header last clearfix">
        <p>Esta etapa já foi preenchida</p>
        <a href="#" class="case-link">Editar</a>
      </div>
    </div>

    <div class="clearfix"></div>
  </div>
</div>
