<div id="main_layout">
  <div id="sidebar" hack-sidebar-height>
    <!-- Include views/layouts/menu.html -->
    <div ng-include="'views/layout/menu.html'"></div>
  </div>

  <div id="main_content">
    <!-- Include views/layouts/header.html -->
    <div ng-include="'views/layout/header.html'"></div>

    <div class="loading" ng-show="loading"></div>
    <div class="loading" ng-show="loadingContent"></div>

    <div ng-hide="loading" class="pages-animation">
      <div class="title">
        <ul>
          <li>Grupos</li>
        </ul>

        <a href="#/groups/add" class="btn btn-info btn-custom">+ Novo grupo</a>
      </div>

      <div class="simple_search">
        <span class="glyphicon glyphicon-search search_icon"></span>
        <input type="text" placeholder="Buscar grupo..." ng-model="search" />
      </div>

      <table class="table custom_table big_text" ng-hide="loadingContent">
        <tr ng-repeat="group in groups | filter: search">
          <td><a href="#/groups/{{ group.id }}">{{ group.name }}</a></td>
          <td class="actions">
            <a class="icon_action" href="#/groups/{{ group.id }}/edit"><span class="glyphicon glyphicon-edit"></span></a>
            <a href="" ng-click="deleteGroup(group)"><span class="glyphicon glyphicon-trash"></span></a>
          </td>
        </tr>
      </table>
    </div>

  </div>
</div>

<script type="text/ng-template" id="removeGroup.html">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()">&times;</button>
        <h4 class="modal-title">Remover grupo</h4>
      </div>
      <div class="modal-body">
        <p>Atenção, você clicou em um botão para remover o grupo <b>{{ group.name }}</b>. Ao confirmar, você esta ciente e responsável pela exclusão.</p>

        <p class="text-danger">Se você tem certeza, digite abaixo a palavra <code>DELETAR</code> e clique no botão remover.</p>

        <div class="form-group has-error">
          <input type="text" class="form-control" ng-model="confirmText">
        </div>
      </div>

      <div class="modal-footer">
      <button type="button" class="btn btn-fat-custom btn-default" ng-click="close()">Cancelar</button>
        <button type="button" class="btn btn-fat-custom btn-danger" ng-click="confirm()" ng-disabled="confirmText.toLowerCase() !== 'deletar'">Remover</button>
      </div>
</script>
