<div id="main_layout">
  <div id="sidebar" hack-sidebar-height>
    <!-- Include views/layouts/menu.html -->
    <div ng-include="'views/layout/menu.html'"></div>
  </div>

  <div id="main_content">
    <!-- Include views/layouts/header.html -->
    <div ng-include="'views/layout/header.html'"></div>

    <div class="loading" ng-show="loading"></div>

    <div ng-hide="loading" class="pages-animation">
        <div class="title">
          <ul>
            <li><a href="#/users">Usuários</a></li>
            <li>{{ user.email }}</li>
          </ul>

          <a href="#/users/edit/{{ user.id }}" class="btn btn-info btn-custom">Editar usuário</a>
        </div>

        <div class="content">
          <form>

            <div class="form-group" ng-show="user.name !== null && user.name !== ''">
              <label for="form_username">Nome completo</label>
              <input type="text" class="form-control input-lg" id="form_username" value="{{ user.name }}" disabled>
            </div>

            <div class="form-group">
              <label for="form_email">Email</label>
              <input type="email" class="form-control custom_form" id="form_email" value="{{ user.email }}" disabled>
            </div>

            <div class="form-group" ng-show="user.address !== null && user.address !== ''">
              <label for="form_address">Endereço</label>
              <input type="text" class="form-control custom_form" id="form_address" value="{{ user.address }}" disabled>
            </div>

            <div class="form-group" ng-show="user.address_additional !== null && user.address_additional !== ''">
              <label for="form_address_additional">Complemento</label>
              <input type="text" class="form-control custom_form" id="form_address_additional" value="{{ user.address_additional }}" disabled>
            </div>

            <div class="form-group" ng-show="user.district !== null && user.district !== ''">
              <label for="form_district">Cidade</label>
              <input type="text" class="form-control custom_form" id="form_district" value="{{ user.district }}" disabled>
            </div>

            <div class="form-group" ng-show="user.postal_code !== null && user.postal_code !== ''">
              <label for="form_postal_code">CEP</label>
              <input type="text" class="form-control custom_form" id="form_postal_code" value="{{ user.postal_code }}" disabled>
            </div>

            <div class="form-group" ng-show="user.phone !== null && user.phone !== ''">
              <label for="form_phone">Telefone</label>
              <input type="text" class="form-control custom_form" id="form_phone" value="{{ user.phone }}" disabled>
            </div>

            <div class="form-group" ng-show="user.document !== null && user.document !== ''">
              <label for="form_document">Documento</label>
              <input type="text" class="form-control custom_form" id="form_document" value="{{ user.document }}" disabled>
            </div>

            <div class="form-group">
                <p>
                    <b>Usuário cadastrado em</b><br/>
                    {{ user.created_at | date:'dd/MM/yy HH:mm'}}
                </p>
            </div>

            <div class="form-group">
                <label>Grupos</label>

                <br/>

                <ul ng-hide="user.groups.length == 0">
                    <li ng-repeat="group in user.groups">{{ group.name }}</li>
                </ul>

                <p ng-show="user.groups.length == 0">Usuário não está vinculado a um grupo.</p>
            </div>

          </form>
        </div>
    </div>

  </div>
</div>
