<div class="modal-header">
  <button type="button" class="close" ng-click="close()">&times;</button>
  <h4 class="modal-title">Gerenciar opções do campo {{ field.label }}</h4>
</div>

<div class="modal-body">
    <div class="new-value">
        <form ng-submit="newValue()">
            <div class="row">
                <div class="col-md-8">
                    <input type="text" placeholder="Criar nova opção..." ng-model="value.text" ng-show="value.importing === false" />
                    <textarea ng-model="value.multipleOptionsText" ng-show="value.importing === true" placeholder="Copie e cole suas opções aqui..."></textarea>
                </div>

                <div class="col-md-4 buttons">
                    <button href="" type="submit" class="btn btn-info btn-custom" ng-show="value.importing === false">Criar</button>
                    <button href="" type="submit" class="btn btn-info btn-custom insert" ng-show="value.importing === true">Inserir</button>
                    <button href="" type="button" class="btn btn-info btn-custom" ng-class="{'btn-disabled': value.importing === false}" ng-click="toggleImport()">Importar</button>
                </div>
            </div>
        </form>
    </div>

    <ul class="fieldOptions">
      <li ng-repeat="option in field.field_options track by $index" inventory-single-value>
        <a class="edit_value" href="" ng-click="editingValue = true" ng-hide="editingValue">{{ option.value }}</a>

        <div class="edit_label" ng-show="editingValue">
          <input type="text" class="editValue" ng-model="newValue" />
          <a href="" ng-click="saveOption()">Ok</a>

          <div class="clearfix"></div>
        </div>

        <a href="" class="remove_value" ng-click="removeOption()">x</a>

        <div class="clearfix"></div>
      </li>
    </ul>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-danger btn-danger-inverse pull-left" ng-click="clear()" ng-if="!isExistingField">Limpar opções</button>
  <button type="button" class="btn btn-info btn-custom btn-fat-custom" ng-click="close()" ng-if="isExistingField">Fechar</button>
  <button type="button" class="btn btn-info btn-custom btn-fat-custom" ng-click="save()" ng-if="!isExistingField">Salvar</button>
</div>
