<div id="{{modalId}}" class="modal fade" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{modalTitle}}</h4>
      </div>
      <div class="modal-body">
        <p ng-if="!modalCustomMsg">Atenção, você clicou em um botão para remover o item <b>[{{ modalItemTitle }}]</b>. Ao confirmar, você esta ciente e responsável pela exclusão.</p>
        <p ng-if="modalCustomMsg">{{modalCustomMsg}}</p>

        <p class="text-danger">Se você tem certeza, digite abaixo a palavra <code>DELETAR</code> e clique no botão remover.</p>

        <div class="form-group has-error">
          <input type="text" class="form-control" ng-model="modalConfirmText">
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-fat-custom btn-default" ng-click="modalConfirmText = ''" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-fat-custom btn-danger" ng-click="modalConfirmFunction()" ng-disabled="modalConfirmText.toLowerCase() !== 'deletar'" promise-btn="modalConfirmPromise">Remover</button>
      </div>

    </div>
  </div>
</div>
