<div class="gallery">
    <div class="titles">
        <span ng-repeat="i in images track by $index" ng-click="displayImage(i)">
            <a href="" class="image" ng-style="{'background-image': 'url(' + thumb(i) + ')' }"></a>
        </span>

        <div class="clearfix"></div>
    </div>

    <div class="lightbox pages-animation" ng-show="showModal">
        <div class="background" ng-click="showModal = false"></div>

        <div class="lightbox-header">
            <button class="lightbox-close" ng-click="showModal = false">Fechar <span>x</span></button>
        </div>

        <div class="clearfix"></div>

        <div class="lightbox-image">
            <button class="lightbox-prev pages-animation" ng-show="hasPrev()" ng-click="prev()"><i class="glyphicon glyphicon-chevron-left"></i></button>

            <button class="lightbox-next pages-animation" ng-show="hasNext()" ng-click="next()"><i class="glyphicon glyphicon-chevron-right"></i></button>

            <div class="lightbox-zoom">
              <input class="zoomInButton" type="button" value="+" />
              <input class="zoomOutButton" type="button" value="-" />
            </div>

            <img class="zoomableImage" ng-src="{{ source(selectedImg)}}">
        </div>

        <div class="lightbox-description">
            {{selectedImg.description}}
        </div>
    </div>
</div>
