    <div id="header">
      <div ng-show="showSystemMessage" class="message-status fade-animation" ng-class="systemMessage.messageClass">
        <p><span class="glyphicon" ng-class="glyphicons[systemMessage.icon]"></span> {{ systemMessage.text }}</p>
      </div>

      <div class="pull-right">
        <div class="notifications">
          <p><span>14</span></p>

          <div class="clearfix"></div>
        </div>

        <div class="user_info">
          <img src="https://lh6.googleusercontent.com/-2EKqoOl3DvY/UgxY7eQP7OI/AAAAAAAAAgM/G4DNiQBfM44/s498-no/51a47c5d-eea5-496c-b430-842870a7b375" class="avatar" />
          <a href="" class="dropdown-toggle" data-toggle="dropdown">{{ me.email }} <span class="caret"></span></a>

          <div class="clearfix"></div>

          <ul class="menu-dropdown" role="menu">
            <li><a href="#/users/edit/{{ me.id }}">Meu Perfil</a></li>
            <li><a href="#/logout">Sair</a></li>
          </ul>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>

    <div id="footer">
      <div class="tim_logo"></div>
    </div>
