    <div class="logo">
      <a href="#">ZUP</a>
    </div>

    <ul>
      <li nav-item><a href="#/inventories"><span class="glyphicon glyphicon-list"></span> <p>Inventário</p></a></li>
      <li nav-item><a href="#/reports"><span class="glyphicon glyphicon-list-alt"></span> <p>Relatos</p></a></li>
      <li nav-item><a href="#/flows"><span class="glyphicon glyphicon-ok-circle"></span> <p>Fluxos</p></a></li>
      <li nav-item><a href="#/cases"><span class="glyphicon glyphicon-file"></span> <p>Casos</p></a></li>
      <!--<li nav-item><a href="#/tags"><span class="glyphicon glyphicon-tag"></span> <p>Tags</p></a></li>-->
      <li nav-item><a href="#/groups"><span class="ico-groups"></span> <p>Grupos</p></a></li>
      <li nav-item><a href="#/users"><span class="glyphicon glyphicon-user"></span> <p>Usuários</p></a></li>
      <!--<li nav-item><a href="#/config"><span class="glyphicon glyphicon-cog"></span> <p>Configurações</p></a></li>-->
    </ul>
