@import "compass/css3";

.item-history {
  margin: 40px 60px 60px;

  .filters {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .filter {
    float: left;

    .btn-group {
      width: 100%;

      button.dropdown-toggle {
        width: 100%;
      }
    }
  }

  .datepicker {
    .dropdown-menu {
      padding: 10px 15px;
    }

    .btn-default {
      border: none;
    }

    .btn-sm {
      padding: 4px 6px;
      font-size: 14px
    }

    .btn-info {
      background: #0047C8;
      @include background(linear-gradient(color-stops(#0085C9, #0047C8)));
    }
  }

  .timeline {
    width: 100%;
    list-style: none;
    padding: 0px;
    position: relative;

    .line {
      position: absolute;
      width: 15%;
      height: 100%;

      span {
        display: block;
        width: 1px;
        border-right: 1px solid #E5E5E5;
        height: 100%;
        left: 50%;
        position: relative;
      }
    }

    .log {
      margin-top: 15px;

      &:last-child {
        background: #FFF;
        position: relative;
      }
    }

    .log .date {
      width: 15%;
      float: left;
      text-align: center;

      span {
        display: inline-block;
        padding: 7px 12px;
        background: #F2F2F2;
        border: 1px solid #D9D9D9;
        border-radius: 8px;
        color: #999;
        font-weight: bold;
        z-index: 2;
        position: relative;
      }
    }

    .log .action {
      width: 75%;
      float: left;
      margin-bottom: 15px;
      padding-left: 15px;

      p {
        margin: 5px 0 20px 0;

        a {
          font-weight: bold;
        }
      }

      .divider {
        width: 100%;
        border-bottom: 1px solid #E5E5E5;
      }
    }
  }
}
