<div id="main_layout">
  <div id="sidebar">
    <!-- Include views/layouts/menu.html -->
    <div ng-include="'views/layout/menu.html'"></div>
  </div>

  <div id="main_content">
    <!-- Include views/layouts/header.html -->
    <div ng-include="'views/layout/header.html'"></div>

    <div class="title">
      <ul>
        <li><a href="#/items">Items</a></li>
        <li>Árvore de exemplo</li>
      </ul>
    </div>

    <div class="content">
      <h3>Seção X</h3>

      <h5>Descrição</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <h5>Nome</h5>
      <p>Árvore de exemplo</p>

      <h5>Data de cadastro</h5>
      <p>21/05/2013</p>

      <hr />

      <h3>Localização</h3>

      <h5>Endereço</h5>

      <p>Av. Paulista, 267</p>

      <div class="roundedMap" map-items></div>

      <hr />

      <a href="#/items" class="btn btn-info btn-fat-custom btn-custom">Voltar</a>
    </div>

  </div>
</div>
