<div id="full_page">
  <div class="header">
    <a href="#/inventories/categories" class="back">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>

    <div class="title" ng-show="!updating">
      {{ step.title }} <a href="" ng-click="editStep()" class="editIcon"><span class="glyphicon glyphicon-edit"></span></a>
    </div>

    <div class="updated-msg" style="display: none;">
      <span class="glyphicon glyphicon-check"></span> Todas as alterações foram salvas.
    </div>
  </div>

  <div class="spacing"></div>

  <div class="tabs edit">
    <a href="" ng-click="currentTab = 'form'" ng-class="{'active': currentTab == 'form'}">Formulário</a>
    <a href="" ng-click="currentTab = 'permissions'" ng-class="{'active': currentTab == 'permissions'}">Permissões</a>
    <a href="" ng-click="currentTab = 'triggers'" ng-class="{'active': currentTab == 'triggers'}">Gatilhos</a>
  </div>

  <div class="loading" ng-show="loading"></div>

  <div class="big_content" class="pages-animation edit-form" ng-show="currentTab == 'form' && !loading">
    <div class="left_column">
      <form action="" class="step-form">
        <div class="form-group clearfix">
          <div class="form-inputs">
            <label for="">Data</label>
            <input type="text" class="form-control date-field" placeholder="xx/xx/xxxx" width="200px;">
          </div>

          <div class="actions">
            <a href=""><span class="glyphicon glyphicon-edit"></span></a>
            <a href="" class="remove-form"><span class="glyphicon glyphicon-trash"></span></a>
            <a href=""><span class="glyphicon glyphicon-resize-vertical"></span></a>
          </div>
        </div>
        <div class="form-group clearfix">
          <div class="form-inputs">
            <label for="">Serviços requisitados</label>
            <ul>
              <li>
                <input type="checkbox" class="input-choice" id="-default" checked="checked" />
                <label for="-default" class="label-choice">
                  <span>Opção 1</span>
                </label>
                <a href="#">x</a>
              </li>
              <li>
                <input type="checkbox" class="input-choice" id="-default" checked="checked" />
                <label for="-default" class="label-choice">
                  <span>Opção 2</span>
                </label>
                <a href="#">x</a>
              </li>
              <li>
                <input type="checkbox" class="input-choice" id="-default" checked="checked" />
                <label for="-default" class="label-choice">
                  <span>Opção 3</span>
                </label>
                <a href="#">x</a>
              </li>
              <li>
                <a href="#">+ Nova opção</a>
              </li>
            </ul>
          </div>

          <div class="actions">
            <a href=""><span class="glyphicon glyphicon-edit"></span></a>
            <a href="" class="remove-form"><span class="glyphicon glyphicon-trash"></span></a>
            <a href=""><span class="glyphicon glyphicon-resize-vertical"></span></a>
          </div>
        </div>
        <div class="form-group clearfix">
          <div class="form-inputs">
            <label for="">Anexar documentos</label>
            <div class="inline">
              <div class="form-control attachments">
                <span class=""></span>
                <input type="text">
              </div>
              <a href="#" class="btn btn-util btn-version">Procurar</a>
            </div>
          </div>

          <div class="actions">
            <a href=""><span class="glyphicon glyphicon-edit"></span></a>
            <a href="" class="remove-form"><span class="glyphicon glyphicon-trash"></span></a>
            <a href=""><span class="glyphicon glyphicon-resize-vertical"></span></a>
          </div>
        </div>
        <div class="form-group clearfix">
          <div class="form-inputs">
            <label style="display: block;">Descrição do problema</label>
            <textarea class="form-control" rows="6"></textarea>
          </div>

          <div class="actions">
            <a href=""><span class="glyphicon glyphicon-edit"></span></a>
            <a href="" class="remove-form"><span class="glyphicon glyphicon-trash"></span></a>
            <a href=""><span class="glyphicon glyphicon-resize-vertical"></span></a>
          </div>
        </div>
        <div class="form-group clearfix">
          <div class="form-inputs">
            <label for="">Relato</label>
            <div class="inline">
              <input type="text" class="form-control" placeholder="Selecione um ou mais relatos">
              <a href="#" class="btn btn-util btn-version">Procurar</a>
            </div>
          </div>

          <div class="actions">
            <a href=""><span class="glyphicon glyphicon-edit"></span></a>
            <a href="" class="remove-form"><span class="glyphicon glyphicon-trash"></span></a>
            <a href=""><span class="glyphicon glyphicon-resize-vertical"></span></a>
          </div>
        </div>
        <div class="form-group clearfix">
          <div class="form-inputs">
            <label for="">Itens de inventário</label>
            <div class="inline">
              <input type="text" class="form-control" placeholder="Selecione um ou mais itens de inventário">
              <a href="#" class="btn btn-util btn-version">Procurar</a>
            </div>
          </div>

          <div class="actions">
            <a href=""><span class="glyphicon glyphicon-edit"></span></a>
            <a href="" class="remove-form"><span class="glyphicon glyphicon-trash"></span></a>
            <a href=""><span class="glyphicon glyphicon-resize-vertical"></span></a>
          </div>
        </div>
        <div class="form-group clearfix">
          <div class="form-inputs">
            <label for="">Campo de etapa anterior</label>
            <input type="text" class="form-control" placeholder="Valor preenchido no campo">
            <span class="form-msg">* Somente leitura</span>
          </div>

          <div class="actions">
            <a href=""><span class="glyphicon glyphicon-edit"></span></a>
            <a href="" class="remove-form"><span class="glyphicon glyphicon-trash"></span></a>
            <a href=""><span class="glyphicon glyphicon-resize-vertical"></span></a>
          </div>
        </div>
        <div class="form-group clearfix form-group-last">
          <div class="form-inputs">
            <label for="">Comprimento do bueiro</label>
            <input type="text" class="form-control" placeholder="Valor preenchido no campo">
            <span class="form-msg">* Possui relação com o campo "Bueiro a ser removido"</span>
          </div>

          <div class="actions">
            <a href=""><span class="glyphicon glyphicon-edit"></span></a>
            <a href="" class="remove-form"><span class="glyphicon glyphicon-trash"></span></a>
            <a href=""><span class="glyphicon glyphicon-resize-vertical"></span></a>
          </div>
        </div>
      </form>
    </div>

    <div class="right_column" inputs-sidebar>
      <a class="btn btn-info btn-custom btn-block btn-lg-custom">+ Adicionar nova seção</a>

      <div class="inputs step-sidebar">
        <div class="info"><p>Campos básicos</p></div>

        <div class="clearfix"></div>

        <div class="simple_search">
          <span class="glyphicon glyphicon-search search_icon"></span>
          <input type="text" placeholder="Buscar..." ng-model="searchInputs" />
        </div>

        <div class="list">
          <div class="item" draggable-input>
            <p>Campo de texto</p>
          </div>
          <div class="item" draggable-input>
            <p>Campo numérico</p>
          </div>
          <div class="item" draggable-input>
            <p>Anexo</p>
          </div>
          <div class="item" draggable-input>
            <p>Opção múltipla</p>
          </div>
          <div class="item" draggable-input>
            <p>Opção única</p>
          </div>
          <div class="item" draggable-input>
            <p>E-mail</p>
          </div>
          <div class="item" draggable-input>
            <p>CPF</p>
          </div>
          <div class="item" draggable-input>
            <p>CNPJ</p>
          </div>
          <div class="item" draggable-input>
            <p>Campo de data</p>
          </div>
          <div class="item" draggable-input>
            <p>Campo de descrição</p>
          </div>
        </div>
      </div>

      <div class="inputs step-sidebar-bottom">
        <div class="info">
          <p>Campos especiais</p>
        </div>

        <div class="clearfix"></div>

        <div class="list">
          <div class="item" draggable-input>
            <p>Relato</p>
          </div>
          <div class="item" draggable-input>
            <p>Item de Inventário</p>
          </div>
          <div class="item" draggable-input>
            <p>Etapa Anterior</p>
          </div>
          <div class="item" draggable-input>
            <p>Campo de Categoria</p>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
  </div>

  <div class="pages-animation edit-permissions" ng-show="currentTab == 'permissions' && !loading">
    <form>
      <h3>Permissões para executar</h3>

      <div class="form-group custom-switch">
        <label>Modo de Condução</label>

        <div class="clearfix"></div>

        <input bs-switch type="checkbox" ng-model="lol" switch-on-label="Modo aberto" switch-off-label="Modo seletivo">
     </div>

      <div class="form-group">
        <label>Grupos que podem executar a etapa</label>
        <div class="selectUsers">
          <div class="ui-widget">
            <span class="search_icon"></span>
            <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
            <input type="text" placeholder="Buscar grupos" ng-model="inventories_autocomplete" ui-autocomplete="categoriesAutocomplete" class="ui-autocomplete-input ng-pristine ng-valid" autocomplete="off">
          </div>

          <ul>
            <li>GrupoX <button type="button" class="remove">×</button></li>
            <li>GrupoY <button type="button" class="remove">×</button></li>
            <li>GrupoZ <button type="button" class="remove">×</button></li>
          </ul>
        </div>
      </div>
      <h3>Permissões para visualizar</h3>
      <div class="form-group">
        <label>Grupos que podem executar a etapa</label>
        <div class="selectUsers">
          <div class="ui-widget">
            <span class="search_icon"></span>
            <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
            <input type="text" placeholder="Buscar grupos" ng-model="inventories_autocomplete" ui-autocomplete="categoriesAutocomplete" class="ui-autocomplete-input ng-pristine ng-valid" autocomplete="off">
          </div>

          <ul>
            <li>GrupoX <button type="button" class="remove">×</button></li>
            <li>GrupoY <button type="button" class="remove">×</button></li>
            <li>GrupoZ <button type="button" class="remove">×</button></li>
          </ul>
        </div>
      </div>
    </form>
    <div class="clearfix"></div>
  </div>

  <div class="pages-animation edit-triggers" ng-show="currentTab == 'triggers' && !loading">
    <div class="edit-triggers-header clearfix">
      <p>4 gatilhos criados</p>
      <a href="#/inventories/categories/add" class="btn btn-info btn-custom">+ Novo gatilho</a>
    </div>

    <ul>
      <li>
        <div class="list-triggers-item">
          <div class="item-content">
            <p class="name">Título do gatilho</p>

            <div class="actions">
              <a href="">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
              <a href="" class="middle-link">
                <span class="glyphicon glyphicon-resize-vertical"></span>
              </a>
              <a href="" class="right-link">
                <span class="arrow_icon"></span>
              </a>
            </div>

            <div class="clearfix"></div>
          </div>
        </div>
      </li>
      <li>
        <div class="list-triggers-item">
          <div class="item-content">
            <p class="name">Título do gatilho</p>

            <div class="actions">
              <a href="">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
              <a href="" class="middle-link">
                <span class="glyphicon glyphicon-resize-vertical"></span>
              </a>
              <a href="" class="right-link">
                <span class="arrow_icon"></span>
              </a>
            </div>

            <div class="clearfix"></div>
          </div>
        </div>
      </li>
      <li>
        <div class="list-triggers-item">
          <div class="item-content">
            <p class="name">Título do gatilho</p>

            <div class="actions">
              <a href="">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
              <a href="" class="middle-link">
                <span class="glyphicon glyphicon-resize-vertical"></span>
              </a>
              <a href="" class="right-link">
                <span class="arrow_icon"></span>
              </a>
            </div>

            <div class="clearfix"></div>
          </div>
        </div>
      </li>
      <li>
        <div class="list-triggers-item active">
          <div class="item-content">
            <p class="name">Título do gatilho</p>

            <div class="actions">
              <a href="">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
              <a href="" class="middle-link">
                <span class="glyphicon glyphicon-resize-vertical"></span>
              </a>
              <a href="" class="right-link">
                <span class="arrow_icon"></span>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>

          <table class="item-table">
            <thead>
              <tr>
                <td width="35%">Campo</td>
                <td width="25%">Condição</td>
                <td width="35%">Campo</td>
                <td width="5%"></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <label class="select-trigger">
                    <select class="form-control">
                      <option>Distância máxima até a central</option>
                    </select>
                  </label>
                </td>
                <td>
                  <label class="select-trigger">
                    <select class="form-control">
                      <option>Maior</option>
                    </select>
                  </label>
                </td>
                <td>
                  <input type="text" class="form-control" value="3500">
                </td>
                <td class="remove-condition">
                  <button type="button" class="remove" ng-click="remove_status = true">x</button>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="select-trigger">
                    <select class="form-control">
                      <option>Inclinação</option>
                    </select>
                  </label>
                </td>
                <td>
                  <label class="select-trigger">
                    <select class="form-control">
                      <option>Menor</option>
                    </select>
                  </label>
                </td>
                <td>
                  <input type="text" class="form-control" value="45">
                </td>
                <td class="remove-condition">
                  <button type="button" class="remove" ng-click="remove_status = true">x</button>
                </td>
              </tr>
              <tr>
                <td colspan="4" class="new-condition class="remove-condition"">
                  <a href="#/inventories/categories/add" class="btn btn-info btn-custom">+ Nova condição</a>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="item-conditions">
            <h3>Caso as condições sejam verdadeiras</h3>
            <form action="">
              <div class="form-group clearfix">
                <div class="item-conditions-content content-first">
                  <label for="">Selecione uma ação</label>
                  <label class="select-trigger">
                    <select class="form-control">
                      <option>Finalizar caso</option>
                    </select>
                  </label>
                </div>
                <div class="item-conditions-content">
                  <label for="">Alterar estado de resolução para</label>
                  <label class="select-trigger">
                    <select class="form-control">
                      <option>Impossibilidade técnica</option>
                    </select>
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label for="">Descrição</label>
                <textarea class="form-control" rows="4" placeholder="Caso finalizado devido a impossibilidade técnica"></textarea>
              </div>
            </form>
          </div>
        </div>
      </li>
      <li>
        <div class="list-triggers-item">
          <div class="item-content">
            <p class="name">Título do gatilho</p>

            <div class="actions">
              <a href="">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
              <a href="" class="middle-link">
                <span class="glyphicon glyphicon-resize-vertical"></span>
              </a>
              <a href="" class="right-link">
                <span class="arrow_icon"></span>
              </a>
            </div>

            <div class="clearfix"></div>
          </div>
        </div>
      </li>
      <li>
        <div class="list-triggers-item">
          <div class="item-content">
            <p class="name">Título do gatilho</p>

            <div class="actions">
              <a href="">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
              <a href="" class="middle-link">
                <span class="glyphicon glyphicon-resize-vertical"></span>
              </a>
              <a href="" class="right-link">
                <span class="arrow_icon"></span>
              </a>
            </div>

            <div class="clearfix"></div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
