@import "compass/css3";

.state-business-reports-add, .state-business-reports-edit, .state-business-reports-show {
  #main_content {
    background-color: #ddd !important;
  }

  .business-report-foreground {
    background-color: #fff;
    width: 100%;
    max-width: 880px;
    padding: 25px;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    @include border-radius(2px);
    @include box-shadow(#ccc -2px 2px 2px);
  }

  .btn.is-loading {
    padding-right: 25px;
    .btn-spinner {
      margin-top: -3px;
    }
  }

  .summary {
    font-size: 16px;
    color: #666;
    margin-left: 5px;
    margin-bottom: 8px;
  }

  .period {
    margin-bottom: 5px;
    margin-left: 8px;
  }

  .br-label {
    font-size: 11px;
    font-weight: bold;
    color: #666;
  }

  .sample-warning {
    font-size: 10px;
    text-align: right;
    z-index: 2;
    position: relative;
  }

  .charts-list {
    ul {
      padding: 0;
      margin: 0 0 0 3px;
    }

    li {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .new-graphic-button-container {
      width: 100%;
      text-align: center;
      margin-top: 40px;
    }
  }

  // Char editor
  $inline-edit-border-color: #ccc;

  .ng-inline-edit__text--placeholder {
    color: #888;
  }

  .business-reports-chart {
    .chart-description {
      margin-top: 5px;
    }

    .chart-description .ng-inline-edit__text--placeholder {
      font-style: italic !important;
    }

    .chart {
      height: 250px;
    }

    .chart-period {
      font-size: 90%;
      text-align: center;
      padding-top: 10px;
      margin: 0 0 -20px 0;
      z-index: 99;
      position: relative;

      button {
        height: 22px;
        font-size: 11px;
        padding-top: 2px;
        margin-top: -3px;
      }
    }
  }

  .visualizing {
    .chart-description {
      margin-top: 15px;
      font-size: 13px;
    }

    .chart-overlay {
      visibility: visible !important;
      font-size: 14px;
      font-weight: bold;
    }

    h2 {
      margin-top: 45px;
    }

    .chart {
      min-height: 200px;
    }
  }

  .selection {
    @include box-shadow(0 0 0 1px #ffb1ac);
    @include border-radius(2px);

    &, .chart-overlay {
      background-color: rgba(255, 235, 239, 0.8) !important;
    }

    .chart-period > *, .chart-description, .chart-title, .sample-warning {
      @include opacity(0.3);
    }
  }

  .chart-container {
    position: relative;

    .chart-overlay {
      position: absolute;
      background-color: rgba(255, 255, 255, 0.8);
      width: 100%;
      height: 100%;
      z-index: 1;
      visibility: hidden;
    }

    &:hover .chart-overlay {
      visibility: visible;
    }

    .overlay-controls {
      width: 100%;
      text-align: center;
      top: 50%;
      margin-top: -15px;
      position: relative;
    }
  }

  // Inline edit settings
  h1 {
    margin: 0 0 5px 0;

    input {
      padding: 3px 25px 0 3px;
    }
  }

  h2 {
    font-size: 18px;
    color: #555;
  }

  input {
    width: 100%;
    padding: 3px 25px 3px 3px;
    margin: 0;
    border: none;
    @include box-shadow(0 0 0 1px $inline-edit-border-color);
    @include border-radius(2px);

    &:focus {
      outline: none;
    }
  }

  .ng-inline-edit__text {
    padding: 3px 25px 3px 3px;
    position: relative;
    display: block;
    border-radius: 2.01px;
    cursor: text;
  }

  .ng-inline-edit__text:hover {
    background: #fff;
    color: #333;
    @include border-radius(2px);
    @include box-shadow(0 0 0 1px $inline-edit-border-color);
  }

  .ng-inline-edit__text:after {
    background: $inline-edit-border-color url("assets/images/edit-pencil.png") no-repeat center;
    border-left: 1px solid $inline-edit-border-color;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    visibility: hidden;
    width: 20px;
  }

  .ng-inline-edit__text:hover:after {
    visibility: visible
  }
}

@media print {
  .state-business-reports-show {
    #sidebar, business-reports-edit-header {
      display: none;
    }

    .business-report-foreground {
      position: absolute;
      margin: 15px;
      padding: 0;
      width: 95%;
    }

    #main_layout #main_content {
      padding: 0;
    }
  }
}
