@import 'compass/css3';

.edit-chart-modal {
  .selected-categories {
    margin: 0;
    padding: 0;

    li {
      margin-top: 10px;
      list-style: none;
      padding: 10px;
      border: 1px solid #ddd;
      height: 50px;
      line-height: 30px;
      @include border-radius(2px);
    }
  }

  label {
    margin-top: 15px;
  }

  label:first-child {
    margin-top: 0;
  }

  .select2-choice {
    padding-left: 20px;
    line-height: 35px;
    height: 45px;
  }
}
