@import "compass/css3";
@import "compass/typography/text/ellipsis";

.reports-notifications-modal {
  .modal-dialog {
    width: 905px;
  }

  .modal-header, .modal-body, .modal-footer {
    padding: 30px;
  }

  .modal-body {
    margin: -30px;
    font-size: 14px;
  }

  .btn-custom {
    width: 120px;
  }

  p {
    margin: 0;
  }

  .spacing {
    height: 30px;
  }

  .color-ball {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin-right: 5px;
  }

  .ui-select-bootstrap .ui-select-match {
    height: 50px;
    padding: 6px 20px;
    @include box-shadow(none);
  }

  .ui-select-bootstrap .ui-select-search {
    height: 50px;
    padding: 6px 20px;
  }

  table tbody, table thead {
    display: block;
  }

  table tbody {
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  thead {
    tr {
      td {
        font-size: 12px;
      }
    }
  }

  tr {
    td {
      vertical-align: middle !important;
    }

    .type-cell {
      max-width: 250px;
      min-width: 250px;
      padding-left: 30px;
      @include ellipsis();
    }

    .status-cell {
      max-width: 150px;
      min-width: 150px;
    }

    .overdue-cell {
      max-width: 100px;
      min-width: 100px;
    }

    .date-cell {
      max-width: 110px;
      min-width: 110px;
    }

    .button-cell {
      max-width: 150px;
      min-width: 150px;
      padding-right: 30px;
    }

  }

  .status-color {
    display: inline-block;
    width: 10px;
    height: 10px;
    @include border-radius(10px);
  }

  .reports-notification-emitted {
    @include opacity(.5);
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .modal-title {
    font-weight: bold;
  }
}
