<div id="main_layout">
  <div id="sidebar" hack-sidebar-height>
    <!-- Include views/layouts/menu.html -->
    <div ng-include="'views/layout/menu.html'"></div>
  </div>

  <div id="main_content">
    <!-- Include views/layouts/header.html -->
    <div ng-include="'views/layout/header.html'"></div>
    <div class="loading" ng-show="loading"></div>

    <div ng-hide="loading" class="pages-animation">
      <div class="title">
        <ul>
          <li><a href="#/inventories">Inventário</a></li>
          <li>{{ item.title }}</li>
        </ul>

        <a class="icon_action" href="" ng-click="deleteItem(item, category)"><span class="glyphicon glyphicon-trash"></span></a>
        <a href="#/inventories/categories/{{ item.inventory_category_id }}/item/{{ item.id }}/edit" class="icon_action"><span class="glyphicon glyphicon-edit"></span></a>
      </div>

      <div class="status-bar" ng-repeat="status in category.statuses" ng-if="status.id == item.inventory_status_id">
        <div class="background" ng-style="{ 'background-color': status.color }"></div>
        <p class="pull-left" ng-style="{ 'color': status.color }">{{ status.title }}</p>
        <a class="pull-right" ng-click="editItemStatus(item, category)" href="">Alterar status</a>

        <div class="clearfix"></div>
      </div>

      <div class="content">

        <div ng-repeat="section in category.sections | orderBy:'position'">
          <h3>{{ section.title }}</h3>

          <div ng-repeat="field in section.fields | orderBy:'position'">
              <h5 ng-show="field.label !== null">{{ field.label }}</h5>
              <h5 ng-show="field.label == null">{{ field.title }}</h5>

              <div ng-show="field.kind == 'images'">
                <gallery images="getDataByInventoryFieldId(field.id)"></gallery>
              </div>

              <p ng-hide="field.kind == 'images'">{{ getDataByInventoryFieldId(field.id) }}</p>

              <div class="cleafix"></div>
          </div>

          <hr />
        </div>

        <div class="roundedMap" map-show-item></div>

        <hr />

        <a href="#/inventories" class="btn btn-info btn-fat-custom btn-custom">Voltar</a>
      </div>
    </div>

  </div>
</div>
