<div class="loading" ng-show="loading"></div>

<div ng-hide="loading">
  <div class="title">
    <ul>
      <li><a href="#/groups">Grupos</a></li>
      <li>{{ group.name }}</li>
    </ul>

    <a href="#/groups/{{ group.id }}/edit" class="btn btn-info btn-custom">Editar grupo</a>
  </div>

  <div class="simple_search">
    <span class="glyphicon glyphicon-search search_icon"></span>
    <input type="text" placeholder="Buscar usuários..." keyboard-poster="search" />
  </div>


  <table class="table custom_table">
    <thead>
      <tr>
        <td ng-click="changeSorting('name')"
            ng-class="selectedCls('name')" class="sort-table">
          <span>Nome</span><span class="arrow"></span>
        </td>
        <td ng-click="changeSorting('email')"
            ng-class="selectedCls('email')" class="sort-table">
          <span>E-mail</span><span class="arrow"></span>
        </td>
        <td ng-click="changeSorting('phone')"
            ng-class="selectedCls('phone')" class="sort-table">
          <span>Telefone</span><span class="arrow"></span>
        </td>
        <td>Remover usuário</td>
      </tr>
    </thead>

    <tr ng-repeat="user in users | orderBy:sort.column:sort.descending">
      <td><a href="#/users/{{ user.id }}">{{ user.name }}</a></td>
      <td>{{ user.email }}</td>
      <td>{{ user.phone }}</td>
      <td><a href="" ng-click="removeUserFromGroup(user)">Remover <span class="glyphicon glyphicon-remove"></span></a></td>
    </tr>

  </table>
</div>
