<div id="login">
  <div class="login-container">
    <div class="logo">
      <img src="images/logo-zup-black.png" alt="ZUP"/>
      <p>Zeladoria<br/>Urbana Participativa</p>

      <div class="clearfix"></div>
    </div>

    <hr/>

    <form ng-submit="login()">
      <div class="form-group">
        <label for="input_email">Email</label>
        <input type="text" class="form-control" id="input_email" ng-model="email" />
      </div>

      <div class="form-group">
        <label for="input_password">Senha</label>
        <input type="password" class="form-control" id="input_password" ng-model="password" />
      </div>

      <button type="submit" class="btn btn-info btn-block">Entrar</button>
    </form>
  </div>

  <a class="forgot_password" href="#">Esqueceu sua senha?</a>
</div>
