@charset "UTF-8";
.unicef {

  %logo {
    width: 131px;
    height: 54px;
    display: inline-block;
    vertical-align: middle;
  }

  #login .logo {
    .img {
      @extend %logo;
      background-image: url('../images/logos/logo-unicef.png');
    }

    .slogan-title::before {
      content: "Mapeamento de crianças e adolescentes fora da escola";
    }
  }

  #main_layout {
    #sidebar {
      background: #0C5E8E;

      .logo {
        background: #2192CA;
        padding-top: 8px;

        .img {
          @extend %logo;
          background-image: url('../images/logos/logo-unicef.png');
        }
      }

      ul {
        li a {
          color: #B7DAEE;
        }

        li.active, li:hover {
          background: #0A4B71;
        }
      }
    }
  }

  #printContent {
    .logo > .img {
      @extend %logo;
      background-image: url('../images/logos/logo-unicef.png');
    }
  }

  .initial-loading-page {
    .logo > .img {
      @extend %logo;
      background-image: url('../images/logos/logo-unicef.png');
    }
  }
}
