<div>
  <select-list option-name="title" no-bs-please="true">
    <li ng-repeat="category in categories | filter: q">
      <a href="" ng-click="select(category.id, category)"><strong><span
        ng-bind-html="category.title | highlight: q"></span></strong> <b
        class="glyphicon glyphicon-ok pull-right"></b></a>

      <ul>
        <li ng-repeat="subcategory in category.subcategories | filter: q">
          <a href="" ng-click="select(subcategory.id, subcategory)"><span
            ng-bind-html="subcategory.title | highlight: q"></span> <b
            class="glyphicon glyphicon-ok pull-right"></b></a>
        </li>
      </ul>
    </li>
  </select-list>
</div>
